.enrolr-brand-colour-text {
    color: #f57f1f!important;
}

.enrolr-brand-colour-bg {
    background-color: #f57f1f!important;
}

button.enrolr-brand-colour-bg:hover, a.enrolr-brand-colour-bg:hover {
    background-color: #b85d13!important;
}

.enrolr-brand-colour-text-accent {
    color: #fca910!important;
}

.enrolr-brand-colour-bg-accent {
    background-color: #fca910!important;
}

.enrolr-brand-colour-border {
    border-color: #f57f1f;
}

.enrolr-brand-colour-border-accent {
    border-color: #fca910;
}

.enrolr-navbar-top-accent {
    border-top: 4px solid #f57f1f!important;
}

.enrolr-navbar-spacer {
    padding-top: 80px;
}

.enrolr-subtle-shadow {
    position: relative;
}

.enrolr-subtle-shadow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
}

.enrolr-toast-container {
    position: absolute;
    top: 65px;
    right: 10px;
}

.enrolr-standard-icon {
    cursor: pointer;
    color: rgb(116, 116, 116);
}

.enrolr-standard-icon:hover {
    color: rgb(65, 65, 65);
}

.enrolr-danger-icon {
    cursor: pointer;
    color: rgb(172, 0, 0);
}

.enrolr-danger-icon:hover {
    color: rgb(119, 0, 0);
}

.enrolr-accent-icon {
    cursor: pointer;
    color: #fab73b;
}

.enrolr-accent-icon:hover {
    color: rgb(119, 0, 0);
}

.enrolr-error-toast {
    border-color: #A22424;
}

.enrolr-success-toast {
    border-color: #50A224;
}

.form-control.error:focus {
    border-color: #A22424;
    box-shadow: 0 0 0 0.2rem rgba(218, 46, 46, 0.25);
}

.form-control.valid:focus {
    border-color: #50A224;
    box-shadow: 0 0 0 0.2rem rgba(80, 162, 36, 0.25);
}

.tooltip-inner {
    max-width: 350px;
}

.enrolr-datatable-actions-min-width {
    min-width: 75px;
}

.mw-50 {
    max-width: 500px;
}

small.error {
    color: rgb(219, 31, 31);
}

.enrolr-gradient {
    background-image: linear-gradient(45deg, #ffb429, #f57f1f 50%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: gradient-animation-rev 1s ease forwards;
}

@keyframes gradient-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes gradient-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}