.enrolr-brand-colour-text {
    color: #f57f1f!important;
}

.enrolr-brand-colour-bg {
    background-color: #f57f1f!important;
}

button.enrolr-brand-colour-bg:hover, a.enrolr-brand-colour-bg:hover {
    background-color: #b85d13!important;
}

.enrolr-brand-colour-text-accent {
    color: #fcd426!important;
}

.enrolr-brand-colour-bg-accent {
    background-color: #fcd426!important;
}

.enrolr-brand-colour-border {
    border-color: #f57f1f;
}

.enrolr-brand-colour-border-accent {
    border-color: #fcd426;
}

.enrolr-navbar-top-accent {
    border-top: 4px solid #f57f1f!important;
}

.enrolr-navbar-spacer {
    padding-top: 80px;
}

.enrolr-subtle-shadow {
    position: relative;
}

.enrolr-subtle-shadow::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
}

.enrolr-toast-container {
    position: absolute;
    top: 65px;
    right: 10px;
}

.enrolr-standard-icon {
    cursor: pointer;
    color: rgb(116, 116, 116);
}

.enrolr-standard-icon:hover {
    color: rgb(65, 65, 65);
}

.enrolr-danger-icon {
    cursor: pointer;
    color: rgb(172, 0, 0);
}

.enrolr-danger-icon:hover {
    color: rgb(119, 0, 0);
}

.enrolr-error-toast {
    border-color: #A22424;
}

.enrolr-success-toast {
    border-color: #50A224;
}

.form-control.error:focus {
    border-color: #A22424;
    box-shadow: 0 0 0 0.2rem rgba(218, 46, 46, 0.25);
}

.form-control.valid:focus {
    border-color: #50A224;
    box-shadow: 0 0 0 0.2rem rgba(80, 162, 36, 0.25);
}

.enrolr-todogroup-actions {
    min-width: 60px;
    text-align: right;
}

.tooltip-inner {
    max-width: 350px;
}

.mw-50 {
    max-width: 500px;
}

small.error {
    color: rgb(219, 31, 31);
}